{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn" value="Calculate" />
    {{ form_end(form) }}
{% endblock %}